{% load i18n %} {% load staticfiles %}
<div id="footer-sec">
        &copy; 2014 YourCompany | Design By : <a href="http://www.binarytheme.com/" target="_blank">BinaryTheme.com</a>
</div>
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="{% static 'assets/js/bootstrap.js' %}"></script>
<!-- METISMENU SCRIPTS -->
<script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
<!-- CUSTOM SCRIPTS -->
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
<script src="{% static 'assets/js/wizard/modernizr-2.6.2.min.js' %}"></script>
<script src="{% static 'assets/js/wizard/jquery.cookie-1.3.1.js' %}"></script>
<script src="{% static 'assets/js/wizard/jquery.steps.js' %}"></script>