{% load i18n %} {% load staticfiles %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>SocialDrum</title>
<!-- BOOTSTRAP STYLES-->
<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
<!-- FONTAWESOME STYLES-->
<link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
<!--CUSTOM BASIC STYLES-->
<link href="{% static 'assets/css/basic.css' %}" rel="stylesheet" />
<!--CUSTOM MAIN STYLES-->
<link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" />
<!-- GOOGLE FONTS-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<!--WIZARD STYLES-->
<link href="{% static 'assets/css/wizard/normalize.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/wizard/wizardMain.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/wizard/jquery.steps.css' %}" rel="stylesheet" />