{% load i18n %} {% load staticfiles %}
<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index">SOCIALDRUM</a>
    </div>
    <!--<div class="header-right">
        <a href="me" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
        <a href="message-task.html" class="btn btn-primary" title="New Task"><b>40 </b><i class="fa fa-bars fa-2x"></i></a>
        <a href="login.html" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>
    </div>-->
</nav>
<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <div class="user-img-div">
                    <img src="{% static 'assets/img/icon-profile.png' %}" class="img-thumbnail" />
                    <div class="inner-text">
                        Operador
                    </div>
                </div>
            </li>
            <li>
                <a class="active-menu" href="/index"><i class="fa fa-dashboard "></i>Resumen</a>
            </li>
            <li>
                <a href="/alerts"><i class="fa fa-bolt"></i>Alertas</a>
            </li>
            <li>
                <a href="/statistics"><i class="fa fa-search"></i>Seguimiento</a>
            </li>
            <li>
                <a href="/notifications"><i class="fa fa-phone"></i>Emitir Aviso</a>
            </li>
            
        </ul>
    </div>
</nav>
<!-- /. NAV SIDE  -->