{% load i18n %} {% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% include "fragments/head_fragment.html" %}
    <link rel="stylesheet" href="{% static 'assets/ammap/ammap.css' %}" type="text/css">
    <script src="{% static 'assets/ammap/ammap.js' %}" type="text/javascript"></script>
    <!-- map file should be included after ammap.js -->
    <script src="{% static 'assets/ammap/maps/js/worldLow.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/ammap/themes/black.js' %}" type="text/javascript"></script>
</head>

<body>
    <div id="wrapper">
        {% include "fragments/header_menu.html" %}
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">Lista de usuarios con tweets conflictivos</div>
                        <div class="panel-body chat-widget-main">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>N. tweets conflictivos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key, value in people %}
                                        <tr>
                                            <td><a href="/userProfile/{{key}}">{{key}}</a></td>
                                            <td>{{value}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <img style="margin:0 auto; display:block" src="{% static 'assets/img/logo-invoice.png' %}" />
            </div>
        </div>
    </div>
</body>

</html>