﻿{% load i18n %} {% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% include "fragments/head_fragment.html" %}
    <link rel="stylesheet" href="{% static 'assets/ammap/ammap.css' %}" type="text/css">
    <script src="{% static 'assets/ammap/ammap.js' %}" type="text/javascript"></script>
    <!-- map file should be included after ammap.js -->
    <script src="{% static 'assets/ammap/maps/js/worldLow.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/ammap/themes/black.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/maps-functions.js' %}" type="text/javascript"></script>
</head>

<body>
    <div id="wrapper">
        {% include "fragments/header_menu.html" %}
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">RESUMEN</h1>
                        <h1 class="page-subhead-line">En esta sección encontrarás un resumen de los datos más relevantes. </h1>
                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row centrada">
                    <div class="col-md-4">
                        <div class="main-box mb-red">
                            <a href="/alerts">
                                <i class="fa fa-bolt fa-5x"></i>
                                <h5>Alertas<span class="badge" style="margin-left:20px;font-size:25px;">{{nTweets}}</span></h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-box mb-dull">
                            <a href="/statistics">
                                <i class="fa fa-search fa-5x"></i>
                                <h5>Seguimiento</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-box mb-pink">
                            <a href="/notification">
                                <i class="fa fa-phone fa-5x"></i>
                                <h5>Emitir Aviso</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /. ROW  -->
                <h1 class="page-subhead-line"></h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div id="mapdiv" class="col-md-10" style="width: 100%; height: 600px;"></div>
                        </div>
                        <h1 class="page-subhead-line"></h1>
                        <p class="lead">Histórico de Tweets con Alertas</p><pre>{{nTweets}}</pre>
                    </div>
                </div>
                <!-- /. ROW  -->
            </div>
            <!-- /. PAGE INNER  -->
            <div>
                <img style="margin:0 auto; display:block" src="{% static 'assets/img/logo-invoice.png' %}" />
            </div>
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    {% include "fragments/footer_fragment.html" %}
</body>

</html>