﻿{% load i18n %} {% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% include "fragments/head_fragment.html" %}
</head>

<body>
    <div id="wrapper">
        {% include "fragments/header_menu.html" %}
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">CREACIÓN DE AVISO</h1>
                        <h1 class="page-subhead-line">Con este formulario se emitirá un aviso de alerta sobre un usuario concreto. </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 wizard-aviso">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Asistente de aviso
                            </div>
                            <div class="panel-body">
                                <div id="wizardV">
                                    <h2>Tipo de Aviso</h2>
                                    <section>
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <p>Seleccionar a continuación el tipo de aviso que se quiere emitir:</p>
                                                <select class="form-control">
                                                    <option>Acoso</option>
                                                    <option>Violencia de Género</option>
                                                    <option>Tentativa de suicidio</option>
                                                    <option>Tentativa terrorista</option>
                                                </select>
                                            </div>
                                        </div>
                                    </section>
                                    <h2>Nombre de Usuario</h2>
                                    <section>
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <p>Introduzca el nombre del usuario</p>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                    </section>
                                    <h2>Motivo del aviso</h2>
                                    <section>
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <p>Introduzca el motivo del aviso con toda la información que considere de interés:</p>
                                                <textArea class="form-control" rows="7"></textArea>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. PAGE INNER  -->
            </div>
            <!-- /. PAGE WRAPPER  -->
            <div>
                <img style="margin:0 auto; display:block" src="{% static 'assets/img/logo-invoice.png' %}" />
            </div>
        </div>
        <!-- /. WRAPPER  -->
        {% include "fragments/footer_fragment.html" %}
</body>

</html>