{% load i18n %} {% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% include "fragments/head_fragment.html" %}
    <link rel="stylesheet" href="{% static 'assets/ammap/ammap.css' %}" type="text/css">
    <script src="{% static 'assets/ammap/ammap.js' %}" type="text/javascript"></script>
    <!-- map file should be included after ammap.js -->
    <script src="{% static 'assets/ammap/maps/js/worldLow.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/ammap/themes/black.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/maps-functions.js' %}" type="text/javascript"></script>
</head>

<body style="background-color:#222222;">
    <div id="wrapper">
        {% include "fragments/header_menu.html" %}
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div id="mapdiv" class="col-md-10" style="width: 100%; height: 600px;"></div>
                </div>
            </div>
            <div>
                <img style="margin:0 auto; display:block" src="{% static 'assets/img/logo-invoice.png' %}" />
            </div>
        </div>
    </div>
    {% include "fragments/footer_fragment.html" %}
</body>