{% load i18n %} {% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% include "fragments/head_fragment.html" %}
    <script src="{% static 'assets/js/charts/Chart.js' %}"></script>
    <style type="text/css">
    #canvas-holder {
        width: 70%;
    }
    </style>
</head>

<body>
    <div id="wrapper">
        {% include "fragments/header_menu.html" %}
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Estadisticas de {{name}}</h1>
                        <h1 class="page-subhead-line"></h1>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <!--<div <div class="row">
                    <div class="col-md-offset-2 col-md-6">
                        <canvas id="canvas" height="450" width="600"></canvas>
                    </div>
                </div>-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Lista de tweets conflictivos de <strong class="lead">{{name}}</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-6">
                                <div style="margin-top:20px;" class="row">
                                    <p class="lead alert alert-info">Tweets totales de {{name}}: {{NAlltweets}}</p>
                                    <p class="lead alert alert-danger">Tweets conflictivos de {{name}}: {{Ntweets}}</p>
                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-4">
                                <div id="canvas-holder">
                                    <canvas id="chart-area" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="page-subhead-line"></h1>
                <div class="row">
                    <div class="col-md-6">
                        <!--    Hover Rows  -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Lista de tweets conflictivos de <strong class="lead">{{name}}</strong>
                            </div>
                            <div class="panel-body" style="padding: 0px;">
                                <div class="chat-widget-main">
                                    {% for tweet in alltweets %}
                                    <div class="chat-widget-left">
                                        {{tweet.text}}
                                    </div>
                                    <div class="chat-widget-name-left">
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <img style="margin:0 auto; display:block" src="{% static 'assets/img/logo-invoice.png' %}" />
            </div>
        </div>
    </div>
</body>
<script>
var doughnutData = [{
    value: "{{NAlltweets}}",
    color: "#F7464A",
    highlight: "#FF5A5E",
    label: "Red"
}, {
    value: "{{Ntweets}}",
    color: "#46BFBD",
    highlight: "#5AD3D1",
    label: "Green"
}];
var doughnutData1 = [{
        value: "{{chart2_value1}}",
        color: "#F7464A",
        highlight: "#FF5A5E",
        label: "Red"
    }, {
        value: "{{chart2_value2}}",
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Green"
    }, {
        value: "{{chart2_value3}}",
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Yellow"
    }, {
        value: "{{chart2_value4}}",
        color: "#949FB1",
        highlight: "#A8B3C5",
        label: "Grey"
    }, {
        value: "{{chart2_value5}}",
        color: "#4D5360",
        highlight: "#616774",
        label: "Dark Grey"
    }

];
var doughnutData2 = [{
        value: "{{chart3_value1}}",
        color: "#F7464A",
        highlight: "#FF5A5E",
        label: "Red"
    }, {
        value: "{{chart3_value2}}",
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Green"
    }, {
        value: "{{chart3_value3}}",
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Yellow"
    }, {
        value: "{{chart3_value4}}",
        color: "#949FB1",
        highlight: "#A8B3C5",
        label: "Grey"
    }, {
        value: "{{chart3_value5}}",
        color: "#4D5360",
        highlight: "#616774",
        label: "Dark Grey"
    }

];

var randomScalingFactor = function() {
    return Math.round(Math.random() * 100)
};

var barChartData = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [{
        fillColor: "rgba(220,220,220,0.5)",
        strokeColor: "rgba(220,220,220,0.8)",
        highlightFill: "rgba(220,220,220,0.75)",
        highlightStroke: "rgba(220,220,220,1)",
        data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
    }, {
        fillColor: "rgba(151,187,205,0.5)",
        strokeColor: "rgba(151,187,205,0.8)",
        highlightFill: "rgba(151,187,205,0.75)",
        highlightStroke: "rgba(151,187,205,1)",
        data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
    }]

}

window.onload = function() {



    var ctx = document.getElementById("chart-area").getContext("2d");
    var a = new Chart(ctx).Doughnut(doughnutData, {
        responsive: true
    });

    /*var ctx = document.getElementById("chart-area1").getContext("2d");
    var b = new Chart(ctx).Doughnut(doughnutData1, {
        responsive: true
    });

    var ctx = document.getElementById("chart-area2").getContext("2d");
    var c = new Chart(ctx).Doughnut(doughnutData2, {
        responsive: true
    });
    var ctx = document.getElementById("canvas").getContext("2d");
    var d = new Chart(ctx).Bar(barChartData, {
        responsive: true
    });*/
};
</script>

</html>